@use 'variables' as v;

.loadingContainer{

height: calc(100% + v.$padding-element-heigth * 2 + 4px);
width: 100%;
display: flex;
align-items: center;
justify-content: center;
background-color: v.$primary-background-color;


}
.animation{
border: v.$border-image;
height: clamp(200px, 40vh, 300px);
border-radius: 50%;

}