
$padding-article-width: clamp(0.8rem, 2vw, 50px);
$padding-element-width: min(1.5rem, 25px)   ;
$padding-element-heigth: min(1.5rem, 50px);
$font-big: clamp(1.5rem, 5vw + 0.5rem, 2rem);
$border-radius:5px;
$border-image: 2px rgba(8, 85, 201, 0.61) dashed;
$border-nav:  rgba(48, 28, 4, 0.575);
$primary-background-color:rgb(228,236,246);
$background-color1: #efa977c5;
$background-color2: #90b8f3d5;
$background-color3: #c590f3a3;
$linear-gradient: linear-gradient(180deg, rgb(228,236,246), #f3ecf8, #ecddf4, #e3daf6, #d7d8f7, #cedaf9, #c5dbf9, #bcddf7);
$linear-gradient-center:  radial-gradient(at center, rgb(228,236,246), rgb(228,236,246), #c590f3a3);
$primary-color:rgba(201, 85, 8, 0.912);
$ligth-shadow: rgb(175, 111, 69);



